In [12]:
import pandas as pd
pd.set_option('display.max_columns',1000)

In [2]:
import numpy as np

In [3]:
lab1_data = pd.read_csv("Data_AGE_UNIT.csv")

In [13]:
lab1_data

,CDU_ID,GEO_CODE,GEO_LABEL,GEO_TYPE,GEO_TYP2,F52,F53,F54,F55,F56,F57,F58,F59,F60,F61,F62,F63,F64,F65,F66,F67,F68,F69,F70,F71,F72,F73,F74,F75,F76,F77,F78,F79,F80,F81,F82,F83,F84,F85,F86,F87,F88,F89,F90,F91,F92,F93,F94,F95,F96,F97,F98,F99,F100,F101,F102,F103,F104,F105,F172,F837,F838,F839,F840,F841,F842,F843,F844,F845,F846,F847,F848,F849,F850,F851,F852,F853,F854,F855,F856,F857,F858,F859,F860,F861,F862,F863,F864,F865,F866,F867,F868,F869,F870,F871,F872,F873,F874,F875,F876,F877,F878,F879,F880,F881,F882,Unnamed: 106
0,NaN,NaN,NaN,NaN,NaN,Age : Age 47 - Unit : Persons,Age : Age 48 - Unit : Persons,Age : Age 49 - Unit : Persons,Age : Age 50 - Unit : Persons,Age : Age 51 - Unit : Persons,Age : Age 52 - Unit : Persons,Age : Age 53 - Unit : Persons,Age : Age 54 - Unit : Persons,Age : Age 55 - Unit : Persons,Age : Age 56 - Unit : Persons,Age : Age 57 - Unit : Persons,Age : Age 58 - Unit : Persons,Age : Age 59 - Unit : Persons,Age : Age 60 - Unit : Persons,Age : Age 61 - Unit : Persons,Age : Age 62 - Unit : Persons,Age : Age 63 - Unit : Persons,Age : Age 64 - Unit : Persons,Age : Age 65 - Unit : Persons,Age : Age 66 - Unit : Persons,Age : Age 67 - Unit : Persons,Age : Age 68 - Unit : Persons,Age : Age 69 - Unit : Persons,Age : Age 70 - Unit : Persons,Age : Age 71 - Unit : Persons,Age : Age 72 - Unit : Persons,Age : Age 73 - Unit : Persons,Age : Age 74 - Unit : Persons,Age : Age 75 - Unit : Persons,Age : Age 76 - Unit : Persons,Age : Age 77 - Unit : Persons,Age : Age 78 - Unit : Persons,Age : Age 79 - Unit : Persons,Age : Age 80 - Unit : Persons,Age : Age 81 - Unit : Persons,Age : Age 82 - Unit : Persons,Age : Age 83 - Unit : Persons,Age : Age 84 - Unit : Persons,Age : Age 85 - Unit : Persons,Age : Age 86 - Unit : Persons,Age : Age 87 - Unit : Persons,Age : Age 88 - Unit : Persons,Age : Age 89 - Unit : Persons,Age : Age 90 - Unit : Persons,Age : Age 91 - Unit : Persons,Age : Age 92 - Unit : Persons,Age : Age 93 - Unit : Persons,Age : Age 94 - Unit : Persons,Age : Age 95 - Unit : Persons,Age : Age 96 - Unit : Persons,Age : Age 97 - Unit : Persons,Age : Age 98 - Unit : Persons,Age : Age 99 - Unit : Persons,Age : Age 100 and over - Unit : Persons,Age : Age 15 - Unit : Persons,Age : Age 0 - Unit : Persons,Age : Age 1 - Unit : Persons,Age : Age 2 - Unit : Persons,Age : Age 3 - Unit : Persons,Age : Age 4 - Unit : Persons,Age : Age 5 - Unit : Persons,Age : Age 6 - Unit : Persons,Age : Age 7 - Unit : Persons,Age : Age 8 - Unit : Persons,Age : Age 9 - Unit : Persons,Age : Age 10 - Unit : Persons,Age : Age 11 - Unit : Persons,Age : Age 12 - Unit : Persons,Age : Age 13 - Unit : Persons,Age : Age 14 - Unit : Persons,Age : Age 16 - Unit : Persons,Age : Age 17 - Unit : Persons,Age : Age 18 - Unit : Persons,Age : Age 19 - Unit : Persons,Age : Age 20 - Unit : Persons,Age : Age 21 - Unit : Persons,Age : Age 22 - Unit : Persons,Age : Age 23 - Unit : Persons,Age : Age 24 - Unit : Persons,Age : Age 25 - Unit : Persons,Age : Age 26 - Unit : Persons,Age : Age 27 - Unit : Persons,Age : Age 28 - Unit : Persons,Age : Age 29 - Unit : Persons,Age : Age 30 - Unit : Persons,Age : Age 31 - Unit : Persons,Age : Age 32 - Unit : Persons,Age : Age 33 - Unit : Persons,Age : Age 34 - Unit : Persons,Age : Age 35 - Unit : Persons,Age : Age 36 - Unit : Persons,Age : Age 37 - Unit : Persons,Age : Age 38 - Unit : Persons,Age : Age 39 - Unit : Persons,Age : Age 40 - Unit : Persons,Age : Age 41 - Unit : Persons,Age : Age 42 - Unit : Persons,Age : Age 43 - Unit : Persons,Age : Age 44 - Unit : Persons,Age : Age 45 - Unit : Persons,Age : Age 46 - Unit : Persons,NaN
1,335.0,E08000003,Manchester,Local Authorities,LA,5695,5550,5442,5163,4879,4591,4745,4549,4091,4077,3810,3943,3712,3729,3590,3518,3813,3586,2689,2835,2710,2563,2394,2437,2317,2268,2335,2219,2073,1942,1813,1793,1757,1554,1536,1432,1253,1251,1079,939,857,705,646,603,483,254,236,147,128,95,79,34,32,56,5603,7660,7518,7211,7213,6811,6437,6047,5575,5361,5197,5244,5291,5343,5391,5516,5222,5512,8277,13688,15987,14929,13369,11777,10936,11933,11573,11329,11046,10714,10338,9946,8982,8155,7583,7078,6947,6666,6635,6644,6615,6453,6622,6359,6417,5940,6010,NaN

In [3]:
x = np.zeros(100+1)

In [4]:
x

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.])